*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(2, 0, 12, 0.719);
}

body > div.calculator{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background: black;
    padding: 50px 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    display: grid;
    grid-template-rows: 30% 10% 15% 15% 15% 15%;
}

body > div.calculator:hover{
    transition: .5s ease-in-out;
    border-color: orangered;
}

.calculator div{
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.calculator div:nth-child(1) input{
    height: 100%;
}

.calculator div:nth-child(2) button, .calculator div:nth-child(3) button, .calculator div:nth-child(4) button, .calculator div:nth-child(5) button, .calculator div:nth-child(6) button{
    width: 100%;
}

